{% extends 'app1/base.html' %}
{% block body %}


{% load static %}
{% if user.is_authenticated %}
<!-- 
    <link rel="stylesheet" href="{% static 'assets/css/search.css' %}"/> -->

<style>
    @import url(https://fonts.googleapis.com/css?family=Open+Sans);

    body {
        background: #f2f2f2;
        font-family: 'Open Sans', sans-serif;
    }

    .search {
        width: 100%;
        position: relative;
        display: flex;
    }

    .searchTerm {
        width: 100%;
        border: 3px solid #7690da;
        border-right: none;
        padding: 5px;
        height: 36px;
        border-radius: 5px 0 0 5px;
        outline: none;
        color: #9DBFAF;
    }

    .searchTerm:focus {
        color: #7690da;
    }

    .searchButton {
        width: 40px;
        height: 36px;
        border: 1px solid #7690da;
        background: #7690da;
        text-align: center;
        color: #fff;
        border-radius: 0 5px 5px 0;
        cursor: pointer;
        font-size: 20px;
    }

    /*Resize the wrap to see the search bar change!*/
    .wrap {
        width: 40%;
        /* position: absolute;
  top: 50%;
  left: 50%; */
        /* transform: translate(-50%, -50%); */
    }

    .table-row {
        cursor: pointer;
    }
</style>
<div class="page-content">
    <div class="card radius-15">
        <div class="card-body">
            <div class="card-title">
                <center>
                    <h2 class="mb-0">CHEQUES</h2>
                </center>
                <hr>
                <div class="btn-group col-md-2" style="float: right;">

                    <a class="btn btn-outline-info text-grey" onclick="ExportToExcel('xlsx')">Export To Excel</a>
                </div>

                <div class="btn-group col-md-2" style="float: right;">
                    <a href="" id="myBtn" class="btn btn-outline-info text-grey"
                        role="button">Print</a>

                </div>



            </div>
        </div>
    </div>
    <div class="card radius-15">
        <div class="card-body">
            <div class="row">


                <!-- <div class="col-md-4">
                            <div class="wrap" style="width: 60%; margin-top: 8px;">
                               
                                <div class="search">
                                    
                                   <input type="text" id="searchfild" class="searchTerm" name="search">
                                   <button type="submit" class="searchButton">
                                     <i class="fa fa-search"></i>
                                  </button>
                                </div>
                                
                              
                             </div>
                             
                        </div> -->

                <div class="col-md-4">
                    <div class="wrap" style="margin-top: 8px;">
                        <div class="search">

                            <input type="text" class="form-control btn-outline-info" placeholder="Search"
                                style="background-color: #2f516f;color: white;width: 250px;" name="search"
                                id="searchInput">
                        </div>


                    </div>

                </div>
                <div class="col-md-4">
                    <select class="form-control btn btn-outline-info dropdown-toggle text-grey" id="isactive"
                        aria-label=".form-select-lg example" style="width: 40%; margin-top: 8px;" name="type"
                        onchange="employees()">

                        <option value="" selected>All</option>
                        <option value="Active">Active</option>
                        <option value="Inactive">Inactive</option>
                    </select>
                </div>
                <div class="col-md-2" style="width: 40%; margin-top: 8px;">                 
                    <select name="employees" id="employees"
                        class="form-control btn btn-outline-info dropdown-toggle text-grey"
                        aria-label=".form-select-lg example" onchange="employees()">
                        <option value="">All</option>
                        <option value="Fixed">Fixed</option>
                        <option value="Timebased">Timebased</option>
                        <option value="Cheque">Temporary</option>
                    </select>
                </div>








                

            </div>
            <div class="container-fluid">

                <table class="table table-responsive-md mt-4" id="tbl_exporttable_to_xls">
                    <thead>
                        <tr>
                            <th>TYPE</th>
                            <th>NAME</th>
                            <th>REF. NO:</th>
                            <th>DATE</th>
                            <th>AMOUNT</th>
                            <th>STATUS</th>
                            <th>ACTION</th>
                           

                        </tr>
                    </thead>
                    <tbody>
                        {% for chq in cheques %}
                        <tr class="table-row " data-href="">
                           
                            <td>{{ chq.cheque_type }}</td>
                            <td>{{ chq.cheque_name }}</td>
                            <td>{{ chq.cheque_ref_no }}</td>
                            <td>{{ chq.cheque_date }}</td>
                            <td>{{ chq.cheque_amount }}</td>
                            <td>{{ chq.cheque_status }}</td>
                            <td>{{chq.cheque_action}}</td>
                           
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script>
    // Get the modal
    var modal = document.getElementById("myModal");

    // Get the button that opens the modal
    var btn = document.getElementById("myBtn");

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks the button, open the modal
    btn.onclick = function () {
        modal.style.display = "block";
    }

    // When the user clicks on <span> (x), close the modal
    span.onclick = function () {
        modal.style.display = "none";
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
</script>

<script>
    $(document).ready(function ($) {
        $(".table-row").dblclick(function () {
            window.document.location = $(this).data("href");
        });
    });
</script>
<script type="text/javascript" src="https://unpkg.com/xlsx@0.15.1/dist/xlsx.full.min.js"></script>

<script type="text/javascript">function ExportToExcel(type, fn, dl) {
        var elt = document.getElementById('tbl_exporttable_to_xls');
        var wb = XLSX.utils.table_to_book(elt, { sheet: "sheet1" });
        return dl ?
            XLSX.write(wb, { bookType: type, bookSST: true, type: 'base64' }) :
            XLSX.writeFile(wb, fn || ('Employees.' + (type || 'xlsx')));
    }
</script>
<script>
    // Function to handle the search
    function searchTable() {
        let input, filter, table, tr, td, i, j, txtValue;
        input = document.getElementById("searchInput");
        filter = input.value.toLowerCase();
        table = document.getElementById("tbl_exporttable_to_xls");
        tr = table.getElementsByTagName("tr");

        // Loop through all table rows (excluding the first row, which contains the column headers)
        for (i = 1; i < tr.length; i++) {
            let rowVisible = false;
            td = tr[i].getElementsByTagName("td");

            // Loop through all table cells (columns) in each row
            for (j = 0; j < td.length; j++) {
                if (td[j]) {
                    txtValue = td[j].textContent || td[j].innerText;
                    if (txtValue.toLowerCase().indexOf(filter) > -1) {
                        rowVisible = true;
                        break;
                    }
                }
            }

            // Show/hide the row based on the search results
            tr[i].style.display = rowVisible ? "" : "none";
        }
    }

    // Attach the search function to the input field's "input" event
    document.getElementById("searchInput").addEventListener("input", searchTable);
</script>

<script>


    function employees() {
        let input, filter, table, tr, td, i, j, txtValue, isactive;
        var selectElement = document.getElementById("employees");
        var selectElementisactive = document.getElementById("isactive");
        filter = selectElement.value.toLowerCase();
        isactive = selectElementisactive.value.toLowerCase();
        table = document.getElementById("tbl_exporttable_to_xls");
        tr = table.getElementsByTagName("tr");
        // Loop through all table rows (excluding the first row, which contains the column headers)

        for (i = 1; i < tr.length; i++) {
            let rowVisible = false;
            td = tr[i].getElementsByTagName("td");

            // Loop through all table cells (columns) in each row
            for (j = 0; j < td.length; j++) {
                if (td[j]) {
                    if (isactive == "") {
                        txtValue = td[j].textContent || td[j].innerText;
                        if (txtValue.toLowerCase().indexOf(filter) > -1) {
                            rowVisible = true;
                            break;
                        }
                    }
                    else {
                        if (td[7].innerText.toLowerCase() == isactive) {
                            txtValue = td[j].textContent || td[j].innerText;
                            if (txtValue.toLowerCase().indexOf(filter) > -1) {
                                rowVisible = true;
                                break;
                            }
                        }
                    }
                }
            }

            // Show/hide the row based on the search results
            tr[i].style.display = rowVisible ? "" : "none";
        }

    }

</script>

{% endif %}
{% endblock %}