{% extends 'app1/base.html' %}
{% block body %}
{% load static %}
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>








<style>
    input {
        background-color: #2f516f;
        border: 0;
        border-radius: 5px;
        color: white;
    }
    
</style>
<form action="" method="POST" class="needs-validation" enctype="multipart/form-data" id="forms" novalidate>
    {% csrf_token %}

    <div class="page-content">
        <h2 id="hel"></h2>
        <div class="card radius-15">
            <div class="card-body">
                <div class="card-title">
                    <center>
                        <h2 class="mb-0" id="estno">RETAINER INVOICE</h2>
                    </center>
                </div>
                <hr />
            </div>
        </div>
        <div class="card radius-15">
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <!-- <center><h2>Fin sYs</h2></center> -->
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-3">
                        <label class="col-form-label">Customer Name*</label>
                        <div class="d-flex">
                            <select name="customer" id="select" class="form-control" style="width: 95%;">
                                <option value="NIL" selected>Select Customer
                                </option>
                                {% for cust in customers %}
                                {% if cust.cid_id == cmp.cid %}
                                <option text="{{ cust.customerid }}" value="{{ cust.firstname }} {{ cust.lastname }}">
                                    {{cust.firstname }} {{ cust.lastname }}</option>
                                {% endif %}
                                {% endfor %}
                            </select>
                            <a data-toggle="modal" href="#newcust">
                                <button type="button" class="btn btn-outline-secondary ml-1">+</button>
                            </a>
                        </div>

                    </div>

                    <div class="col-md-3"></div>
                    <div class="col-md-3"></div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-3">
                        <label class="col-form-label">Billing Address</label>
                        <label for="billingaddress"></label>
                        <textarea class="form-control" rows="7" id="bname" name="billingaddress"></textarea>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-3">
                        <label class="col-form-label">Email</label>
                        <input type="text" class="form-control" id="email" name="email" placeholder="Email">
                    </div>

                    <div class="col-md-3">
                        <label class="col-form-label">Retainer Invoice Date*</label>
                        <input type="date" class="form-control" name="inv_date" id="inv_date"><br>
                    </div>
                    <div class="col-md-3">
                        <label class="col-form-label">Expiry Date</label>
                        <div class="input-group">
                          <input type="date" class="form-control" name="expiry_date" id="expiry_date" required>
                          <div class="input-group-append ml-5">
                            <div class="input-group-text">
                              <input class="form-check-input " type="checkbox" id="never_expiring_checkbox" name="never_expiring">
                              <label class="form-check-label" for="never_expiring_checkbox">
                                Never Expiring
                              </label>
                            </div>
                          </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 mt-3">
                        <label class="col-form-label">Place of supply</label>
                        <select type="text" class="form-control" id="plosu" name="placosupply"
                            style="background-color: #2f516f; color: white;" onchange="state(this)">
                            <option value="{{ cmp1.state }}" selected> {{ cmp1.state }}</option>
                            <option value="Andaman and Nicobar Islads">Andaman and Nicobar Islads</option>
                            <option value="Andhra Predhesh">Andhra Predhesh</option>
                            <option value="Arunachal Predesh">Arunachal Predesh</option>
                            <option value="Assam">Assam</option>
                            <option value="Bihar">Bihar</option>
                            <option value="Chandigarh">Chandigarh</option>
                            <option value="Chhattisgarh">Chhattisgarh</option>
                            <option value="Dadra and Nagar Haveli">Dadra and Nagar Haveli</option>
                            <option value="Damn anad Diu">Damn anad Diu</option>
                            <option value="Delhi">Delhi</option>
                            <option value="Goa">Goa</option>
                            <option value="Gujarat">Gujarat</option>
                            <option value="Haryana">Haryana</option>
                            <option value="Himachal Predesh">Himachal Predesh</option>
                            <option value="Jammu and Kashmir">Jammu and Kashmir</option>
                            <option value="Jharkhand">Jharkhand</option>
                            <option value="Karnataka">Karnataka</option>
                            <option value="Kerala">Kerala</option>
                            <option value="Ladakh">Ladakh</option>
                            <option value="Lakshadweep">Lakshadweep</option>
                            <option value="Madhya Predesh">Madhya Predesh</option>
                            <option value="Maharashtra">Maharashtra</option>
                            <option value="Manipur">Manipur</option>
                            <option value="Meghalaya">Meghalaya</option>
                            <option value="Mizoram">Mizoram</option>
                            <option value="Nagaland">Nagaland</option>
                            <option value="Odisha">Odisha</option>
                            <option value="Puducherry">Puducherry</option>
                            <option value="Punjab">Punjab</option>
                            <option value="Rajasthan">Rajasthan</option>
                            <option value="Sikkim">Sikkim</option>
                            <option value="Tamil Nadu">Tamil Nadu</option>
                            <option value="Telangana">Telangana</option>
                            <option value="Tripura">Tripura</option>
                            <option value="Uttar Predesh">Uttar Predesh</option>
                            <option value="Uttarakhand">Uttarakhand</option>
                            <option value="West Bengal">West Bengal</option>
                            <option value="Other Territory">Other Territory</option>
                        </select>
                    </div>
                    <div class="col-md-3 mt-3">
                        <label class="col-form-label">Reference#</label>
                        <input type="text" class="form-control" name="Ref_No"><br>
                    </div>
                    <div class="col-md-3 mt-3">
                        <label class="col-form-label">Retainer Invoice Number*</label>
                        <input type="text" class="form-control" name="inv_no" value="RINV-00{{inv_no}}"><br>
                    </div>
                    <div class="col-md-3 mt-3"></div>
                </div>
                <div class="row clearfix">
                    <div class="col-md-12 table-responsive-md mt-3">
                        <table class="table table-bordered table-hover mt-3" id="tab_logic" onchange="calc_total()">
                            <thead>
                                <tr>
                                    <th colspan="2" class="text-center">DESCRIPTION</th>
                                    <th class="text-center">AMOUNT</th>


                                </tr>
                            </thead>
                            <tbody id="items-table-body">
                                <tr id="row1">
                                    <td colspan="2" style="width: 80%;">
                                        <input type="text" name="desc[]" id="desc1" class="form-control"
                                            placeholder="Description">
                                    </td>
                                    <td><input type="number" name='amount[]' id="amount1" class="form-control amount text-right"
                                            step="0.00" min="0" style="background-color: #2f516f; color: white;" />
                                    </td>
                                    <td class='text-center'><button type='button' id='copy_btn1'
                                            class='btn btn-transparent text-secondary btn-sm  rounded-circle copy_row'
                                            data-toggle='tooltip' data-placement='top' title='Clone'
                                            style='width:30px'><i class="fas fa-copy"></i></button>
                                    </td>
                                    <td class='text-center'><button type='button' id='del_btn1'
                                            class='btn btn-transparent text-danger btn-sm  rounded-circle delete-row'
                                            data-toggle='tooltip' data-placement='top' title='Delete'
                                            style='width:30px'><i class='fa fa-times'></i></button>
                                    </td>
                                </tr>
                            </tbody>
                            

                            <tr>
                                <td  style="border: none;"><a class="btn btn-outline-secondary ml-1" role="button"
                                        data-toggle='tooltip' data-placement='top' title='Add Another Line'
                                        id="add">+</a></td>
                                <td class="text-right w-10">Total : </td>
                                <td ><input type="number" name="total" id="total" class="form-control total text-right"
                                        value="0.00"></td>
                            </tr>
                        </table>

                    </div>
                </div>
                <div class="row clearfix" style="margin-top:20px">
                    <div class="col-md-6">
                        <label for="">Customer Notes</label>
                        <textarea class="form-control" id="" name="Note"
                            placeholder="Enter any notes to be desplayed on your transaction"
                            style="height: 150px;"></textarea>

                    </div>
                </div>

                <div class="row clearfix" style="margin-top:20px">
                    <div class="col-md-8">
                        <label for="">Terms And Conditions</label>
                        <textarea class="form-control" id="" name="terms_conditions"
                            placeholder="Enter the terms and conditions of your business to be desplayed on your transaction"
                            style="height: 150px;"></textarea>

                    </div>
                </div>

            </div>



            <div class="row">
                <input type="submit" class="btn btn-secondary btn-outline-info text-white mt-5 ml-5"
                    onclick="saveAsDraftDialog()" value="Save As Draft">
                <input type="submit" class="btn btn-info btn-outline-secondary text-white mt-5 ml-3"
                    onclick="saveAndSendDialog()" value="Save And Send">
                <input type="submit" class="btn btn-secondary btn-outline-info text-white mt-5 ml-3"
                    onclick="cancelDialog()" value="Cancel">
            </div>
            <div class="notices mt-3">
                <div class="text-muted">NOTICE:</div>
                <div class="text-muted">
                    Fin sYs Terms and Conditions Apply
                </div>
            </div>
            <footer class="text-muted">Invoice was created on a computer and is valid without the
                signature and seal.
            </footer>
        </div>
    </div>
    </div>
    </div>
</form>

<!-- modal add customer -->

<div class="modal fade" id="newcust">
    <div class="modal-dialog modal-xl">
        <div class="modal-content" style="background-color: #213b52;">
            <div class="modal-header">
                <h3 class="m-3">ADD CUSTOMER</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <form action="new_customer_for_retinvoice" method="POST">{% csrf_token %}

                    <div class="row">
                        <div class="col-md-4 mt-3">
                            <label for="validationCustom01">Title</label>
                            <select name="title" id="title" class="form-control" id="validationCustom01">
                                <option value="Mr">Mr</option>
                                <option value="Mrs">Mrs</option>
                                <option value="Miss">Miss</option>
                                <option value="Ms">Ms</option>
                            </select>
                            <div class="valid-feedback">Looks good!</div>
                        </div>
                        <div class="col-md-4 mt-3">
                            <label for="validationCustom02">First name</label>
                            <input type="text" class="form-control" id="validationCustom02" name="firstname" required
                                style="background-color: #2f516f;color: white;">
                            <div class="valid-feedback">Looks good!</div>
                        </div>
                        <div class="col-md-4 mt-3">
                            <label for="validationCustom02">Last name</label>
                            <input type="text" class="form-control" id="validationCustom02" name="lastname" required
                                style="background-color: #2f516f;color: white;">
                            <div class="valid-feedback">Looks good!</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 mt-3">
                            <label for="validationCustom03">Company</label>
                            <input type="text" class="form-control" id="validationCustom03" name="company"
                                style="background-color: #2f516f;color: white;">
                            <div class="valid-feedback">Looks good!</div>
                        </div>
                        <div class="col-md-4 mt-3">
                            <label for="validationCustom03">Location</label>
                            <input type="text" class="form-control" id="validationCustom03" name="location"
                                style="background-color: #2f516f;color: white;">
                            <div class="valid-feedback">Looks good!</div>
                        </div>
                        <div class="col-md-4 mt-3"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 mt-3">
                            <label for="validationCustom04">GST type</label>
                            <select class="custom-select" id="validationCustom04" name="gsttype"
                                onclick="hidinput('hello1',this)   " required
                                style="background-color: #243e54; color: white;">
                                <option selected disabled value="">Choose...</option>
                                <option>GST-registered-Regular</option>
                                <option>GST-registered-Composition</option>
                                <option>GST-unregistered</option>
                                <option>Consumer</option>
                                <option>Overseas</option>
                                <option>SEZ</option>
                                <option>Deemed exports - EOU's STP's EHTP's etc</option>
                                <option>Exempt</option>
                            </select>
                            <div class="invalid-feedback">Please select a valid registration type.</div>
                        </div>

                        <div class="col-md-4 mt-3" id="hello1" style="display: none;">
                            <div>
                                <label for="validationCustom05">GSTIN</label>
                                <input type="text" class="form-control" onchange="checkgst(this)"
                                    id="validationCustom05" name="gstin" style="background-color: #2f516f;color: white;"
                                    value="" placeholder="29APPCK7465F1Z1">
                                <a data-toggle="modal" href="#exampleModal" style="color:#3dd5f3">Get Taxpayer
                                    Details</a>
                                <div class="text-danger m-2" id="warngst"></div>
                            </div>
                        </div>


                        <!-- <div class="col-md-4 mt-3" id="hai">
                            <div >
                                <label for="validationCustom05">BUSINESS LEGAL NAME</label>
                                <input type="text" class="form-control" 
                                       
                                       style="background-color: #2f516f;color: white;"
                                       >
                                <div class="text-danger m-2" id="warngst"></div>
                            </div>
                        </div>

                        <div class="col-md-4 mt-3" id="hai1">
                            <div >
                                <label for="validationCustom05">BUSINESS TRADE NAME</label>
                                <input type="text" class="form-control" 
                                       
                                       style="background-color: #2f516f;color: white;"
                                       >
                                <div class="text-danger m-2" id="warngst"></div>
                            </div>
                        </div> -->



                        <div class="col-md-4 mt-3">
                            <label for="validationCustom03">PAN NO</label>
                            <input type="text" class="form-control" id="validationCustom03" name="panno"
                                style="background-color: #2f516f;color: white;" onchange="checkpan(this)"
                                placeholder="APPCK7465F">
                            <div class="text-danger m-2" id="warnpan"></div>
                        </div>

                        <div class="col-md-4 mt-3">
                            <div>
                                <label for="validationCustom05">OPENING BALANCE</label>
                                <input type="text" class="form-control" value="" name="openbalance"
                                    style="background-color: #2f516f;color: white;">
                                <div class="text-danger m-2"></div>
                            </div>
                        </div>

                        <!-- <div class="col-md-4 mt-3" id="hai1">
                            <div >
                                <label for="validationCustom05">PLACE OF SUPPLY</label>
                                <input type="text" class="form-control" 
                                       
                                       style="background-color: #2f516f;color: white;"
                                       >
                                <div class="text-danger m-2" id="warngst"></div>
                            </div>
                        </div>

                        <div class="col-md-4 mt-3" id="hai1">
                            <div >
                                <label for="validationCustom05">TAX PERFERENCE</label>
                                <input type="text" class="form-control" 
                                       
                                       style="background-color: #2f516f;color: white;">
                                <div class="text-danger m-2" id="warngst"></div>
                            </div>
                        </div>
                        <div class="col-md-4 mt-3" >
                            <div>
                                <label for="validationCustom05">TAX RETURNS</label><br>
                                <input type="radio" name="Returns" 
                                       
                                       style="background-color: #2f516f;color: white;"> Taxable
                                       <input type="radio" name="Returns"  
                                       style="background-color: #2f516f;color: white;"> Non Taxable
                                <div class="text-danger m-2" id="warngst"></div>
                            </div>
                        </div> -->
                    </div>





                    <div class="row">
                        <div class="col-md-4 mt-3">
                            <label for="validationCustom03">Email</label>
                            <input type="email" class="form-control" id="validationCustom03" name="email"
                                style="background-color: #2f516f;color: white;" placeholder="finsys@mail.com">
                            <div class="invalid-feedback">Please provide a valid Email</div>
                        </div>
                        <div class="col-md-4 mt-3">
                            <label for="validationCustom03">Website</label>
                            <input type="text" class="form-control" id="validationCustom03" placeholder="www.finsys.com"
                                onchange="checkweb(this)" name="website"
                                style="background-color: #2f516f;color: white;">
                            <div id="warnweb" class="text-danger"></div>
                        </div>
                        <div class="col-md-4 mt-3">
                            <label for="validationCustom01">Mobile</label>
                            <input type="text" class="form-control" id="validationCustom01" onchange="checkphone(this)"
                                name="mobile" style="background-color: #2f516f;color: white;">
                            <div class="text-danger m-2" id="warnphone"></div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-6 mt-5">
                            <div class="row">
                                <div class="col-md-12 card-title">
                                    <h5 class="mb-0">Billing Address</h5>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 mt-3">
                                    <div class="form-row">
                                        <label for="street">Street</label>
                                        <textarea class="form-control street" id="street" name="street"
                                            style="background-color: #2f516f;color: white;"></textarea>
                                        <div class="invalid-feedback">Please provide a valid Street</div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 mt-3">
                                    <div class="form-row">
                                        <label for="city">City</label>
                                        <input type="text" class="form-control" id="city" name="city"
                                            style="background-color: #2f516f;color: white;" placeholder="City">
                                        <div class="invalid-feedback">Please provide a valid City</div>
                                    </div>
                                </div>
                                <div class="col-md-6 mt-3">
                                    <div class="form-row">
                                        <label for="state">State</label>
                                        <select type="text" class="form-control" id="state" name="state" required
                                            style="background-color: #2f516f; color: white;">
                                            <option value="" disabled selected>Choose</option>
                                            <option value="Andaman and Nicobar Islads">Andaman and Nicobar Islads
                                            </option>
                                            <option value="Andhra Predhesh">Andhra Predhesh</option>
                                            <option value="Arunachal Predesh">Arunachal Predesh</option>
                                            <option value="Assam">Assam</option>
                                            <option value="Bihar">Bihar</option>
                                            <option value="Chandigarh">Chandigarh</option>
                                            <option value="Chhattisgarh">Chhattisgarh</option>
                                            <option value="Dadra and Nagar Haveli">Dadra and Nagar Haveli</option>
                                            <option value="Damn anad Diu">Damn anad Diu</option>
                                            <option value="Delhi">Delhi</option>
                                            <option value="Goa">Goa</option>
                                            <option value="Gujarat">Gujarat</option>
                                            <option value="Haryana">Haryana</option>
                                            <option value="Himachal Predesh">Himachal Predesh</option>
                                            <option value="Jammu and Kashmir">Jammu and Kashmir</option>
                                            <option value="Jharkhand">Jharkhand</option>
                                            <option value="Karnataka">Karnataka</option>
                                            <option value="Kerala">Kerala</option>
                                            <option value="Ladakh">Ladakh</option>
                                            <option value="Lakshadweep">Lakshadweep</option>
                                            <option value="Madhya Predesh">Madhya Predesh</option>
                                            <option value="Maharashtra">Maharashtra</option>
                                            <option value="Manipur">Manipur</option>
                                            <option value="Meghalaya">Meghalaya</option>
                                            <option value="Mizoram">Mizoram</option>
                                            <option value="Nagaland">Nagaland</option>
                                            <option value="Odisha">Odisha</option>
                                            <option value="Puducherry">Puducherry</option>
                                            <option value="Punjab">Punjab</option>
                                            <option value="Rajasthan">Rajasthan</option>
                                            <option value="Sikkim">Sikkim</option>
                                            <option value="Tamil Nadu">Tamil Nadu</option>
                                            <option value="Telangana">Telangana</option>
                                            <option value="Tripura">Tripura</option>
                                            <option value="Uttar Predesh">Uttar Predesh</option>
                                            <option value="Uttarakhand">Uttarakhand</option>
                                            <option value="West Bengal">West Bengal</option>
                                            <option value="Other Territory">Other Territory</option>
                                        </select>
                                        <div class="invalid-feedback">Please provide a valid State</div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 mt-3">
                                    <div class="form-row">
                                        <label for="pinco">Pin Code</label>
                                        <input type="text" class="form-control" id="pinco" name="pincode"
                                            style="background-color: #2f516f;color: white;" placeholder="PIN code">
                                        <div class="invalid-feedback">Please provide a valid Pin Code</div>
                                    </div>
                                </div>
                                <div class="col-md-6 mt-3">
                                    <div class="form-row">
                                        <label for="country">Country</label>
                                        <input type="text" class="form-control" id="country" name="country"
                                            style="background-color: #2f516f;color: white;" placeholder="Country">
                                        <div class="invalid-feedback">Please provide a valid Country</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 mt-5">
                            <div class="row">
                                <div class="col-md-12 d-flex">
                                    <h5>Shipping Address</h5>
                                    <input class="ml-4 mt-2 ml-2" type="checkbox" onclick="poppins()" id="okay"
                                        name="okay">
                                    <label class="ml-2 mt-1 ml-2" for="okay">Same As Billing Address</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 mt-3">
                                    <div class="form-row">
                                        <label for="shipstreet">Street</label>
                                        <textarea class="form-control" id="shipstreet" name="shipstreet"
                                            style="background-color: #2f516f;color: white;"></textarea>
                                        <div class="invalid-feedback">Please provide a valid Street</div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 mt-3">
                                    <div class="form-row">
                                        <label for="shipcity">City</label>
                                        <input type="text" class="form-control" id="shipcity" name="shipcity"
                                            style="background-color: #2f516f;color: white;" placeholder="City">
                                        <div class="invalid-feedback">Please provide a valid City</div>
                                    </div>
                                </div>
                                <div class="col-md-6 mt-3">
                                    <div class="form-row">
                                        <label for="shipstate">State</label>
                                        <select type="text" class="form-control" id="plosu" name="shipstate"
                                            style="background-color: #2f516f; color: white;">
                                            <option id="shipst" selected>Choose</option>
                                            <option value="Andaman and Nicobar Islads">Andaman and Nicobar Islads
                                            </option>
                                            <option value="Andhra Predhesh">Andhra Predhesh</option>
                                            <option value="Arunachal Predesh">Arunachal Predesh</option>
                                            <option value="Assam">Assam</option>
                                            <option value="Bihar">Bihar</option>
                                            <option value="Chandigarh">Chandigarh</option>
                                            <option value="Chhattisgarh">Chhattisgarh</option>
                                            <option value="Dadra and Nagar Haveli">Dadra and Nagar Haveli</option>
                                            <option value="Damn anad Diu">Damn anad Diu</option>
                                            <option value="Delhi">Delhi</option>
                                            <option value="Goa">Goa</option>
                                            <option value="Gujarat">Gujarat</option>
                                            <option value="Haryana">Haryana</option>
                                            <option value="Himachal Predesh">Himachal Predesh</option>
                                            <option value="Jammu and Kashmir">Jammu and Kashmir</option>
                                            <option value="Jharkhand">Jharkhand</option>
                                            <option value="Karnataka">Karnataka</option>
                                            <option value="Kerala">Kerala</option>
                                            <option value="Ladakh">Ladakh</option>
                                            <option value="Lakshadweep">Lakshadweep</option>
                                            <option value="Madhya Predesh">Madhya Predesh</option>
                                            <option value="Maharashtra">Maharashtra</option>
                                            <option value="Manipur">Manipur</option>
                                            <option value="Meghalaya">Meghalaya</option>
                                            <option value="Mizoram">Mizoram</option>
                                            <option value="Nagaland">Nagaland</option>
                                            <option value="Odisha">Odisha</option>
                                            <option value="Puducherry">Puducherry</option>
                                            <option value="Punjab">Punjab</option>
                                            <option value="Rajasthan">Rajasthan</option>
                                            <option value="Sikkim">Sikkim</option>
                                            <option value="Tamil Nadu">Tamil Nadu</option>
                                            <option value="Telangana">Telangana</option>
                                            <option value="Tripura">Tripura</option>
                                            <option value="Uttar Predesh">Uttar Predesh</option>
                                            <option value="Uttarakhand">Uttarakhand</option>
                                            <option value="West Bengal">West Bengal</option>
                                            <option value="Other Territory">Other Territory</option>
                                        </select>
                                        <div class="invalid-feedback">Please provide a valid State</div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 mt-3">
                                    <div class="form-row">
                                        <label for="shippinco">Pin Code</label>
                                        <input type="text" class="form-control" id="shippinco" name="shippincode"
                                            style="background-color: #2f516f;color: white;" placeholder="PIN code">
                                        <div class="invalid-feedback">Please provide a valid Pin Code</div>
                                    </div>
                                </div>
                                <div class="col-md-6 mt-3">
                                    <div class="form-row">
                                        <label for="shipcountry">Country</label>
                                        <input type="text" class="form-control" id="shipcountry" name="shipcountry"
                                            style="background-color: #2f516f;color: white;" placeholder="Country">
                                        <div class="invalid-feedback">Please provide a valid Country</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required
                                    style="background-color: #2f516f;">
                                <label>Agree to terms and conditions</label>
                                <div class="invalid-feedback">You must agree before submitting.</div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"></div>
                        <div class="col-md-4">
                            <button class="btn btn-outline-info rounded-pill text-grey w-100 mt-3 mb-3" type="submit">
                                Submit form
                            </button>
                        </div>
                        <div class="col-md-4"></div>
                    </div>

                </form>



            </div>

        </div>
    </div>



</div>



<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });

    // set todays date on estimate date field
    var today = new Date().toISOString().substr(0, 10);
    document.getElementById("inv_date").value = today;
    document.getElementById("expiry_date").value = today;

</script>




<script>
    $(document).ready(function () {
        $('#select').on('change', function () {
            select = $('#select').val();
            $.ajax({
                type: "GET",
                url: "{% url 'getdata' %}",
                data: {
                    id: select
                }
            }).done(function (response) {
                var json_data = JSON.parse(response);
                for (key in json_data) {
                    document.getElementById('email').value = json_data[key]['email']

                    document.getElementById('bname').value = json_data[key]['firstname'] + ' ' + json_data[key]['lastname'] + '\n' + json_data[key]['company'] + '\n' + json_data[key]['street'] + '\n' + json_data[key]['city'] + '\n' + json_data[key]['state'] + '\n' + json_data[key]['pincode'] + '\n' + json_data[key]['country'];
                    document.getElementById('plosu').value = json_data[key]['state']
                }
            })
        });

        // Handle checkbox change event
        $('#never_expiring_checkbox').change(function () {
            if ($(this).is(':checked')) {
                $('#expiry_date').hide();  // Hide the expiry_date input field
            } else {
                $('#expiry_date').show();  // Show the expiry_date input field
            }
        });
    });
</script>
<script>
    // Add new row
    $(document).ready(function () {
        $('#add').click(function () {
            var table = document.getElementById("tab_logic");
            var RowCount = table.rows.length;
            console.log(RowCount);
            var newRow = $(`
            <tr id="row${RowCount}">
                <td colspan="2" style="width: 80%;">
                    <input type="text" name="desc[]" id="desc${RowCount}" class="form-control"
                        placeholder="Description">
                </td>
                <td><input type="number" name='amount[]' id="amount${RowCount}" class="form-control amount text-right"
                        step="0.00" min="0" style="background-color: #2f516f; color: white;" />
                </td>
                <td class='text-center'><button type='button' id='copy_btn${RowCount}'
                        class='btn btn-transparent text-secondary btn-sm  rounded-circle copy_row'
                        data-toggle='tooltip' data-placement='top' title='Clone'
                        style='width:30px'><i class="fas fa-copy"></i></button>
                </td>
                <td class='text-center'><button type='button' id='del_btn${RowCount}'
                        class='btn btn-transparent text-danger btn-sm  rounded-circle delete-row'
                        data-toggle='tooltip' data-placement='top' title='Delete'
                        style='width:30px'><i class='fa fa-times'></i></button>
                </td>
            </tr>
           `);
            $('#tab_logic').append(newRow);
        });

       //Duplicate row function
       $('#tab_logic').on('click', '.copy_row', function () {
            console.log('hi');
            var table = document.getElementById("tab_logic");
            var RowCount = table.rows.length;
            console.log(RowCount);

            // Get the values from the current row
            var currentDesc = $(this).closest('tr').find("input[name='desc[]']").val();
            var currentAmount = $(this).closest('tr').find("input[name='amount[]']").val();
            console.log(currentDesc);
            console.log(currentAmount);

            var newRow = $(`
                <tr id="row${RowCount}">
                <td colspan="2" style="width: 80%;">
                    <input type="text" name="desc[]" id="desc${RowCount}" class="form-control"
                    placeholder="Description" value="${currentDesc}">
                </td>
                <td>
                    <input type="number" name="amount[]" id="amount${RowCount}" class="form-control amount text-right"
                    step="0.00" min="0" style="background-color: #2f516f; color: white;" value="${currentAmount}">
                </td>
                <td class='text-center'>
                    <button type='button' id='copy_btn${RowCount}' class='btn btn-transparent text-secondary btn-sm rounded-circle copy_row'
                    data-toggle='tooltip' data-placement='top' title='Clone' style='width:30px'>
                    <i class="fas fa-copy"></i>
                    </button>
                </td>
                <td class='text-center'>
                    <button type='button' id='del_btn${RowCount}' class='btn btn-transparent text-danger btn-sm rounded-circle delete-row'
                    data-toggle='tooltip' data-placement='top' title='Delete' style='width:30px'>
                    <i class='fa fa-times'></i>
                    </button>
                </td>
                </tr>
            `);

            $('#tab_logic').append(newRow);
            calc_total();
        });

        
         // Delete Row
        $('#tab_logic').on('click', '.delete-row', function () {
            $(this).closest('tr').remove();
            calc_total();
        });

    });


  


</script>
<script>
     function calc_total() {
        total = 0;
        $('.amount').each(function () {
            total += parseFloat($(this).val()) ;
        });
        $('#total').val(total.toFixed(2));
    }
</script>
<script>

    function cancelDialog() {

        var frm = document.getElementById("forms");
        let customMsg = "Do you want to cancel?";

        if (confirm(customMsg)) {
            alert("Invoice cancelled!")
        }
    }

    function saveAsDraftDialog() {
        
        var frm = document.getElementById("forms");
        frm.action = ("{% url 'create_retainer_invoice' %}")
    }

    function saveAndSendDialog() {

        var frm = document.getElementById("forms");
        frm.action = ("{% url 'send_retainer_invoice' %}")
    }
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });



</script>
{% endblock %}